<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'index' %}" class="nav-link px-2 text-white">Inicio</a></li>
          <li><a href="{% url "apps.post:posts" %}" class="nav-link px-2 text-white">Posts</a></li>
          <li><a href="{% url "apps.contacto:contacto" %}" class="nav-link px-2 text-white">Contacto</a></li>
          <li><a href="{% url 'acerca_de_nosotros' %}" class="nav-link px-2 text-white">Acerca de nosotros</a></li>
        </ul>
       
          {% if messages%} {% for message in messages%}
          <div class="message text-{{ message.tags}} px-2">{{ message}}</div>
          {% endfor %} {% endif %}         
       

        <div>
          {% comment %} <a href="{% url 'apps.usuario:login' %}" type="button"  class="btn btn-outline-light me-2">Iniciar Sesion</a> {% endcomment %}
          {% comment %} <a href="{% url 'apps.usuario:registrar' %}" type="button" class="btn btn-outline-light me-2">Registrarse</a> {% endcomment %}
          {% if request.user.is_authenticated %}
            <a href="{% url 'apps.usuario:logout' %}" type="button" class="btn btn-outline-light me-2">{{ user.username}}: Cerrar Sesion</a>
            {% else %}
            <a href="{% url 'apps.usuario:login' %}" type="button"  class="btn btn-outline-light me-2">Iniciar Sesion</a>
          {% endif %}
         
        </div>
      </div>
    </div>
</header>  



