{% extends 'base.html' %}

{% block contenido %}
  <title>{% block title %} Página de Inicio {% endblock title %}</title>
    
    
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="aperture" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
    <circle cx="12" cy="12" r="10"></circle>
    <path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path>
  </symbol>
  <symbol id="cart" viewBox="0 0 16 16">
    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
  </symbol>
  <symbol id="chevron-right" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
  </symbol>
  </svg>
  

  
<main class="container md-4">
  <div id="bg-index" class="p-4 p-md-5 mb-2 rounded text-body-emphasis">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic">La llegada del Futuro</h1>
      <p class="lead mb-0">Explora la revolución de la inteligencia artificial y su impacto en nuestras vidas. Únete a nosotros para conocer los últimos avances, aplicaciones innovadoras y reflexiones éticas en el emocionante mundo de la IA.</p>
    </div>
  </div>
  
  <div class="row mb-2">
    <div class="titulo-post">
      <h3>Lo mas reciente</h3>
    </div>
    <section class="actuales">
      <div class="canter">
      {% for post in post_recientes %}
			<article class="past">
				<div class="post-actuales">
					<div class="imp-posts">
						<img width="100%" height="200px" style= "object-fit: cover;" src="{{ post.imagen.url}}" alt="">
					</div>
				</div>
				<div class="post-bady">
					<span>{{ post.fecha }}| Diseño Web </span>
					<h2>{{ post.titulo }}</h2>
					<h3>Por {{post.usuario}}</h3>
					<p>{{ post.texto|truncatewords:30 }}</p>
					<a href="{% url 'apps.post:post_individual' post.id %}" class="post-lenk">Leer Mas...</a>
				</div>
			</article> 
      {% endfor %}
      </div>
    </section>
  </div>

  <div id="inteligencia" class="cont-princ">
    <section class="cont-princ">
      <div class="cont-te">
        <article>
          <h1>¡Bienvenido a nuestro BLOG!</h1>
          <div class="con-p mx-sm-5 pt-3">
            <p>Aquí encontrarás un mundo de conocimiento, entretenimiento y descubrimientos. Nuestro equipo de apasionados escritores se esfuerza por proporcionarte contenido excepcional que cubre una amplia gama de temas, desde tecnología y ciencia hasta viajes, estilo de vida y mucho más.</p>
            <p>Nuestro objetivo es inspirarte, informarte y entretenerte con cada artículo que publicamos. Desde guías detalladas y consejos prácticos hasta noticias de última hora y reflexiones profundas, estamos comprometidos a enriquecer tu experiencia como lector.</p>
            <p>Queremos que te sientas como en casa en nuestro blog, disfrutando de la lectura y participando en la conversación. Siempre valoramos tus comentarios, ideas y opiniones, ya que nos ayudan a mejorar continuamente y ofrecerte un contenido que sea relevante para ti.</p>     
            <p>Así que siéntate, relájate y sumérgete en un mundo de palabras que te llevarán a nuevas perspectivas y te emocionarán con cada giro. ¡Esperamos que disfrutes de tu tiempo en nuestro blog y te conviertas en un lector frecuente!</p>
            <p>¡Gracias por unirte a nosotros en esta emocionante aventura! ¡Bienvenido a nuestro apasionante rincón virtual lleno de historias y descubrimientos increíbles!</p>
          </div>
        </article>
      </div>
    </section>
  </div>



 

  

</main>
  

{% endblock %}