{% extends 'base.html' %}
{% load colaborador_tags %}
{% block contenido %}


<center>
    <div class="cat">
        {% if user.is_superuser or request.user|has_group:"Colaborador" or comentario.usuario == user %}
        <div class="fomr_cat">
            <form method="POST">
                {% csrf_token %}
                <div class="titulo-cat">
                    <h1 class="text-light">Eliminar comentario</h1>
                    <p class="text-light">¿Estas seguro de que quieres eliminar este Comentario?</p>
                </div>
                <div class="nombre mx-sm-4 pt-3">
                    <input class="btn btn-danger" type="submit" value="Si, Eliminar">
                    {% comment %} <a class="btn btn-success" style="color: black;" href="{% url 'apps.posts:post_individual' post.id %}">No, Cancelar</a>  {% endcomment %}
                </div>

            </form>
             {% else %}
             <div class="container-fluid" style="margin: 10px;">
                <h1>Solo los usuarios con permisos pueden acceder a esta pagina</h1>
            </div>
        {% endif %}
        </div>
    </div>
</center>















{% comment %} <center>
    {% if user.is_superuser or request.user|has_group:"Colaborador" or comentario.usuario == user %}
        <div class="container-fluid" style="margin: 10px;">
        <h1>Eliminar comentario</h1>
        <p>¿Estas seguro de que desea eliminar este comentario?</p>
        <form method="POST">
            {% csrf_token %}
            <input type="submit" value="Si,Eliminar">
            <a style="color: black; " href="{{ object.get_absolute_url }}">No, Cancelar</a>
        </form>
        </div>
    {% else %}
            <div class="container-fluid" style="margin: 10px;">
                <h1>Solo los usuarios con permisos pueden acceder a esta pagina</h1>
            </div>
    {% endif %}
</center> {% endcomment %}

{% endblock contenido %}